
<% if (typeof errors != 'undefined') { %> <% errors.forEach(function(error) { %>
  <div class="alert alert-error" role="alert"><%= error.msg %></div>
  <% }); %> <% } %> <% if (success_msg != '') { %>
  <div class="alert alert-success" role="alert"><%= success_msg %></div>
  <% } %> <% if (error_msg != '') { %>
  <div class="alert btn-danger" role="alert"><%= error_msg %></div>
  <% } %> <% if (error != '') { %>
  <div class="alert btn-danger" role="alert"><%= error %></div>
  <% } %>
  
  <script>
    const alert = document.querySelector(".alert");
  
    setTimeout(() => alert.remove(), 3000);
  </script>
