<%- include ('partials/header') %>

    <section class="bg-primary-3 jarallax min-vh-80 d-flex flex-column justify-content-center pb-0 o-hidden" data-jarallax data-speed="0.2" data-overlay>
        <img src="assets/img/inner-1.jpg" alt="Image" class="jarallax-img opacity-30">
        <div class="container py-5 position-relative">
            <div class="row my-4 my-md-6" data-aos="fade-up">
                <div class="col-lg-9 col-xl-8 text-light">
                  <h1 class="display-4">About Us</h1>
                  <p class="lead mb-0">Our misson, achievements, and how far we have served you. Get to know more about Groupie and the team behind it. </p>
                </div>
            </div>
        </div>
        <div class="divider flip-x">
            <img src="assets/img/dividers/divider-1.svg" alt="graphical divider" data-inject-svg />
          </div>
    </section>

    <section>
        <div class="container">
          <div class="row mb-4">
            <div class="col">
              <h2>At a glance</h2>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-6 mb-3 col-lg-3 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
              <span class="display-4 text-primary d-block" data-countup data-start="0" data-end="3000" data-duration="3" data-grouping="true"></span>
              <span class="h6">Active Users</span>
            </div>
            <div class="col-6 mb-3 col-lg-3 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
              <span class="display-4 text-primary d-block" data-countup data-start="1" data-end="20" data-duration="3" data-grouping="true"></span>
              <span class="h6">Team Members</span>
            </div>
            <div class="col-6 mb-3 col-lg-3 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
              <span class="display-4 text-primary d-block" data-countup data-start="1" data-end="5069" data-duration="3" data-grouping="true"></span>
              <span class="h6">User Groups Created</span>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container" data-aos="fade-up">
          <div class="row align-items-center justify-content-around">
            <div class="col-md-5 col-xl-6 mb-4 mb-md-0">
              <img src="assets/img/inner-2.jpg" alt="Image" class="rounded shadow-3d">
            </div>
            <div class="col-md-7 col-xl-6">
              <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10">
                  <span class="badge badge-primary">Our Mission</span>
                  <div class="my-3">
                    <span class="h1">Connecting minds.</span>
                  </div>
                  <p class="lead">Groupie main misson is to connect same minds to groups or community that enables growth.</p>
                  <p class="lead mb-0">To also connect an individual to groups where one can gain experience and more knowledge.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="p-0">
        <div class="container py-6">
          <div class="row mb-4" data-aos="fade-up">
            <div class="col">
              <h2>Leadership Team</h2>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="card card-lg card-body align-items-center">
                <span class="badge badge-primary badge-top">Founder</span>
                <img src="assets/img/new/nV5OAib2_400x400.jpg" alt="Ayodeji" class="avatar avatar-xlg mb-3">
                <h5 class="mb-0">Ayodeji</h5>
                <span>CEO</span>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="card card-lg card-body align-items-center">
                <img src="assets/img/new/IMG_20200101_204019_198.jpg" alt="L.B.D" class="avatar avatar-xlg mb-3">
                <h5 class="mb-0">L.B.D</h5>
                <span>Software Engineer</span>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="card card-lg card-body align-items-center">
                <img src="assets/img/avatars/male-1.jpg" alt="Andrew Price" class="avatar avatar-xlg mb-3">
                <h5 class="mb-0">Andrew Price</h5>
                <span>Software Engineer</span>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
              <div class="card card-lg card-body align-items-center">
                <img src="assets/img/avatars/female-2.jpg" alt="Maya Sanders" class="avatar avatar-xlg mb-3">
                <h5 class="mb-0">Maya Sanders</h5>
                <span>Experience Designer</span>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
              <div class="card card-lg card-body align-items-center">
                <img src="assets/img/avatars/female-4.jpg" alt="Helena Price" class="avatar avatar-xlg mb-3">
                <h5 class="mb-0">Helena Price</h5>
                <span>Marketing</span>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
              <div class="card card-lg card-body align-items-center">
                <img src="assets/img/avatars/male-5.jpg" alt="Kenneth O'Dowd" class="avatar avatar-xlg mb-3">
                <h5 class="mb-0">Kenneth O'Dowd</h5>
                <span>Strategy</span>
              </div>
            </div>
          </div>
        </div>
      </section>

      <%- include ('partials/footer') %>