<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cookies-modal">
  Cookies
</button>

<div class="modal fade" id="cookies-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="d-flex m-2 align-items-center">
          <img src="assets/img/flags/eu.svg" alt="EU Flag" class="icon icon-lg">
          <div class="mx-3">
            Our site uses cookies to ensure the best browsing experience possible. See our <a href="#">Privacy Policy</a> for more details.
          </div>
          <button class="btn btn-primary" data-dismiss="modal">Agree &amp; continue</button>
        </div>
      </div>
    </div>
  </div>
</div>